<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="/css_lib/bootstrap_css/bootstrap.min.css">
</head>
<body>
    <h1>메인 페이지</h1>
    <hr>
    <a sec:authorize="isAnonymous()" th:href="@{/shinstealler/talkative/user/login}">로그인</a>
    <a sec:authorize="isAnonymous()" th:href="@{/shinstealler/talkative/note}">NOTE</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/shinstealler/talkative/user/logout}">로그아웃</a>
    <a sec:authorize="isAnonymous()" th:href="@{/shinstealler/talkative/user/signup}">회원가입</a>
    <a sec:authorize="hasRole('MEMBER')" th:href="@{/shinstealler/talkative/user/info}">내정보</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/shinstealler/talkative/admin}">어드민</a>

    <script src="/js_lib/bootstrap_js/bootstrap.min.js"></script>
</body>

</html>